footer {
  width: 100vw;
  height: auto;
  margin-top: 100px;
  /* background-color: black; */

  color: #ffff;
  padding: 30px 30px;
  /* background-image: url("../Assets/background-main.svg"); */
  position: relative;
  isolation: isolate;
  background-size: cover;
  background-position: center;
  box-shadow: 0px -33px 20px -24px rgba(0, 0, 0, 0.8),
    0px 25px 20px -20px rgba(0, 0, 0, 0.45);
  /* animation: footerAni 5s ease-in-out infinite alternate-reverse; */
}
@keyframes footerAni {
  from {
    background-image: url("../Assets/background-main.svg");
    background-size: cover;
    background-position: center;
  }
  to {
    background-image: url("../Assets/gallery/gallerypic1.jpeg");
    background-size: cover;
    background-position: center;
  }
}
footer::before {
  content: "";
  background-color: #000000;
  position: absolute;
  width: 100%;
  inset: 0px;
  height: auto;
  opacity: 0.7;
  z-index: -1;
}
.footer-col1,
.footer-col2,
.footer-col3 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-col1 > div,
.footer-col2 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.footer-col3 > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.footer-col1 > div h4,
.footer-col2 > div h4,
.footer-col3 > div h4 {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  color: transparent;
  font-weight: 900;
  -webkit-background-clip: text;
  letter-spacing: 2px;
  word-spacing: 5px;
  position: relative;
  width: auto;
  user-select: none;
}
.copyright-icon {
  color: #8fd3f4;
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 3px;
  margin-left: 1px;
}
.footer-col2 > div h4 {
  margin-left: 10px;
}
.footer-col1 > div h4::before,
.footer-col2 > div h4::before {
  content: "";
  background: linear-gradient(45deg, #780206, #061161);
  width: 0%;
  height: 4px;
  border-radius: 8px;
  bottom: -5px;
  right: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.footer-col1 > div h4:hover:before,
.footer-col2 > div h4:hover:before {
  left: 0;
  right: unset;
  width: 100%;
}
.footer-col1 > div p {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}
.footer-col2 > div ul {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}
.footer-col2 > div ul li::marker {
  color: #780206;
}
.footer-icon {
  width: 40px;
  height: 40px;
  color: #780206;
  background: linear-gradient(
    135deg,
    rgba(161, 140, 209, 0.2),
    rgba(251, 194, 235, 0.3)
  );
  border-radius: 50%;
  outline: none;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 38px, rgba(0, 0, 0, 0.22) 5px 5px 12px;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.footer-icon::before {
  content: "";
  background-color: #000000;
  position: absolute;
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0.8;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.footer-icon:hover::before {
  color: #780206;
  width: 100%;
  height: 100%;
}
.footer-iconic {
  margin-bottom: 5px;
  margin-left: -1.5px;
}
.social-icons {
  display: flex;
  gap: 20px;
}
.footer-btndiv {
  width: 150px;
  height: 40px;

  background: linear-gradient(
    135deg,
    rgba(161, 140, 209, 0.2),
    rgba(251, 194, 235, 0.3)
  );
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 38px, rgba(0, 0, 0, 0.22) 0px 5px 12px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
.footer-btndiv::before {
  content: "";
  position: absolute;
  background-color: #000000;
  width: 0%;
  height: 120%;
  right: 0;
  outline: none;
  opacity: 0.8;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
.footer-btndiv:hover::before {
  left: 0;
  right: unset;
  width: 120%;
}
.footer-btndiv a {
  color: #780206;
  font-weight: 500;
  font-size: 20px;
}
.footer-btndiv:hover a {
  color: #ffffff;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 900px) {
  .footer-col1 > div h4,
  .footer-col2 > div h4,
  .footer-col3 > div h4 {
    font-size: 1.2rem;
    letter-spacing: 1.7px;
    word-spacing: 4px;
  }
  .copyright-icon {
    font-size: 1.2rem;
  }
  .footer-col1 > div p {
    font-size: 16px;
  }
  .footer-col2 > div ul {
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  .footer-col1 > div h4,
  .footer-col2 > div h4,
  .footer-col3 > div h4 {
    font-size: 1rem;
    letter-spacing: 1.7px;
    word-spacing: 4px;
  }
  .copyright-icon {
    font-size: 1rem;
  }
  .footer-col1 > div p {
    font-size: 13px;
  }
  .footer-col2 > div ul {
    font-size: 13px;
  }
  .footer-col3 {
    padding-top: 50px;
  }
  .footer-col1 > div,
  .footer-col2 > div {
    justify-content: center;
    align-items: center;
  }
  .footer-col1 > div h4 {
    margin-right: 20px;
  }
  .footer-col2 > div h4 {
    margin-left: 15px;
  }
  .footer-iconic {
    margin-left: -4px;
    margin-bottom: 8px;
  }
  .footer-icon {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
  .footer-btndiv {
    width: 120px;
    height: 30px;
  }
  .footer-btndiv a {
    color: #780206;
    font-weight: 500;
    font-size: 16px;
  }
  footer {
    margin-top: 70px;
  }
}
