header {
  height: 100px;
  color: #ffffff;
  display: grid;
  align-items: center;
  user-select: none;
}
.header-unscroll {
  background-color: transparent;
}
.header-scroll {
  /* background-color: #f5f5dc; */
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  animation: headerScrollAni 0.4s ease-in-out;
  transform-origin: top;
}
@keyframes headerScrollAni {
  from {
    transform: translateY(-100vh);
    transform: scaleY(0);
  }
  to {
    transform: translateY(0);
    transform: scaleY(1);
  }
}
.header-col1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-col1 h1 {
  background: linear-gradient(45deg, #780206, #061161);
  color: transparent;
  -webkit-background-clip: text;
  font-weight: 800;
}
.header-col2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-col3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-col3 .header-col3-buttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 20px;
}
.header-col3-buttonDiv button {
  background: linear-gradient(45deg, #780206, #061161);
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 20px, rgba(0, 0, 0, 0.5) 0px 6px 6px;
  position: relative;
  isolation: isolate;
  transition: all 0.3s ease-in-out;
}
.header-col3-buttonDiv button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
}
.header-col3-buttonDiv button:focus .Language-list {
  display: grid;
}
.Language-list {
  background: linear-gradient(45deg, #780206, #061161);
  color: #ffffff;
  padding: 10px 0;
  width: 100%;
  height: auto;
  font-size: 15px;
  font-weight: 500;
  gap: 5px;
  display: none;
  justify-content: center;
  align-items: start;
  border-radius: 15px;
  position: absolute;
  left: 0;
  top: 120%;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 20px, rgba(0, 0, 0, 0.5) 0px 6px 6px;
  transform-origin: top;
  animation: listAni 0.4s linear;
}
@keyframes listAni {
  from {
    transform: scaleY(0) translateY(-10px);
  }
  to {
    transform: scaleY(1) translateY(0);
  }
}
.Language-list:hover {
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 20px, rgba(0, 0, 0, 0.5) 0px 6px 6px;
}
.Language-list::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: linear-gradient(45deg, #780206, #061161);
  border-radius: 5px;
  transform: rotateZ(45deg);
  top: -5%;
  left: 50%;
  z-index: -1;
}
.Language-list li {
  list-style: none;
  text-shadow: 2px 2px 5px #000000;
}
.header-col3-buttonDiv .header-col3-hamburger {
  color: #4a0404;
  display: none;
}

@media screen and (max-width: 900px) {
  .header-col3-buttonDiv button {
    font-weight: 500;
    font-size: 12px;
    margin-right: 10px;
  }
  .Language-list {
    font-size: 12px;
    font-weight: 500;
  }
  .header-col1 h1 {
    margin-right: -20px;
  }
}
@media screen and (max-width: 770px) {
  .header-col3-buttonDiv button {
    margin-right: 20px;
  }
}
@media screen and (max-width: 750px) {
  .header-col3-buttonDiv button {
    margin-right: 0px;
  }
}
@media screen and (max-width: 576px) {
  header {
    height: 60px;
  }
  .header-col1 {
    display: flex;
    justify-content: flex-start;
    padding-left: 25px;
  }
  .header-col3 {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
  }
  .header-col3-buttonDiv .header-col3-hamburger {
    display: block;
  }
  .header-unscroll {
    background-color: #f5f5dc;
  }
  .header-col2-navDiv-show {
    display: none;
  }
}
